In [48]:
import yfinance as yf
import pandas as pd
import numpy as np

In [54]:
df = yf.download(["MSFT", "NVDA", "META", "GS", "TSLA", "AMZN", "AAPL", "^SPX"], start="2015-01-01")["Adj Close"]

[*********************100%***********************]  8 of 8 completed

In [56]:
pct = df.pct_change().dropna()

In [57]:
pct

,AAPL,AMZN,GS,META,MSFT,NVDA,TSLA,^SPX
Date,,,,,,,,
2015-01-05,-0.028172,-0.020517,-0.031223,-0.016061,-0.009196,-0.016890,-0.042041,-0.018278
2015-01-06,0.000094,-0.022833,-0.020229,-0.013473,-0.014678,-0.030318,0.005664,-0.008893
2015-01-07,0.014022,0.010600,0.014903,0.000000,0.012705,-0.002605,-0.001562,0.011630
2015-01-08,0.038422,0.006836,0.015966,0.026658,0.029418,0.037618,-0.001564,0.017888
2015-01-09,0.001072,-0.011749,-0.015346,-0.005628,-0.008405,0.004028,-0.018802,-0.008404
...,...,...,...,...,...,...,...,...
2023-11-22,0.003514,0.019528,0.010956,0.013384,0.012813,-0.024588,-0.028980,0.004061
2023-11-24,-0.007004,0.000204,0.001506,-0.009546,-0.001112,-0.019295,0.005294,0.000597
2023-11-27,-0.000948,0.006747,-0.004246,-0.010437,0.003126,0.009754,0.002676,-0.001954
2023-11-28,0.003214,-0.004738,-0.000178,0.012817,0.010803,-0.008727,0.045069,0.000980
2023-11-29,-0.005410,-0.004829,0.007493,-0.020030,-0.010060,0.006671,-0.010457,-0.001306

In [74]:
m_rets = (df["^SPX"][-1] - df["^SPX"][0]) / df["^SPX"][0]

beta = pd.DataFrame(columns=["beta", "rets-m_rets"])
for asset in df.columns[:-1]:    
    
    target = [asset, "^SPX"]
    rets = (df[asset][-1] - df[asset][0]) / df[asset][0]
    
    cov = pct[target].cov().values[0][1] 

    b = cov / np.var(pct["^SPX"].values)
    
    perf = (rets - m_rets) * 100
    beta.loc[asset] = [b.round(2), perf]
    # print(f"beta of {asset}: {b:.2f}")

beta.sort_values(ascending=False, by="beta")

      beta  rets-m_rets
NVDA  1.69  9739.200273
TSLA  1.44  1448.812550
META  1.26   202.439009
MSFT  1.22   715.509423
AAPL  1.21   552.983155
GS    1.18   -14.561035
AMZN  1.13   727.513075