In [1]:
import pandas as pd
import numpy as np

# Creating a larger sample DataFrame
np.random.seed(42)

data = {'feature1': np.random.choice(['A', 'B', 'C', 'D', 'E'], size=200),
        'feature2': np.random.choice(['X', 'Y', 'Z'], size=200),
        'variable': np.random.choice(['Cat', 'Dog', 'Bird', 'Fish', 'Rabbit', 'Snake'], size=200)}

df = pd.DataFrame(data)

# Group by 'feature1' and 'feature2', then calculate the value counts for 'variable'
grouped_df = df.groupby(['feature1', 'feature2'])['variable'].value_counts().unstack(fill_value=0)

# Calculate the percentage value counts
percentage_df = grouped_df.div(grouped_df.sum(axis=1), axis=0) * 100

# Print the result
percentage_df

variable                Bird        Cat        Dog       Fish     Rabbit  \
feature1 feature2
A        X          0.000000  33.333333  26.666667  33.333333   6.666667
         Y         12.500000  18.750000  25.000000  18.750000  18.750000
         Z         16.666667  16.666667  33.333333   8.333333  16.666667
B        X          7.692308  15.384615   7.692308  23.076923  38.461538
         Y         18.181818   9.090909  27.272727   9.090909  36.363636
         Z         18.181818   0.000000  18.181818   9.090909  27.272727
C        X          7.692308   0.000000  23.076923  15.384615  30.769231
         Y          7.142857   7.142857  14.285714  28.571429  35.714286
         Z          0.000000  10.000000  10.000000  10.000000  60.000000
D        X          7.142857  35.714286   7.142857   7.142857  35.714286
         Y         23.076923   7.692308  15.384615  30.769231   7.692308
         Z         22.727273  27.272727  13.636364   4.545455   9.090909
E        X          0.000000  20.000000  30.000000  20.000000  10.000000
         Y         26.666667  26.666667  26.666667   6.666667   0.000000
         Z         27.272727  27.272727   9.090909  27.272727   9.090909

variable               Snake
feature1 feature2
A        X          0.000000
         Y          6.250000
         Z          8.333333
B        X          7.692308
         Y          0.000000
         Z         27.272727
C        X         23.076923
         Y          7.142857
         Z         10.000000
D        X          7.142857
         Y         15.384615
         Z         22.727273
E        X         20.000000
         Y         13.333333
         Z          0.000000